*{
	padding: 0;
	margin:0
}
html,body{
	width:100%;
	height:100%;
	/*overflow: hidden;*/
}
ul{
	list-style: none;
}
.content_nav{
	width:100%;
	height:70px;
	position: relative;
	z-index:1;
	overflow:hidden;
	/* background: -webkit-linear-gradient(left,#2857f1,#3d86f2); Safari 5.1 - 6.0
    background: -o-linear-gradient(left,#2857f1,#3d86f2); Opera 11.1 - 12.0
    background: -moz-linear-gradient(left,#2857f1,#3d86f2); Firefox 3.6 - 15
    background: linear-gradient(left,#2857f1,#3d86f2);标准的语法
    background: -o-linear-gradient(left, #2857f1, #3d86f2);IE 10
    background: -ms-linear-gradient(left, #2857f1, #3d86f2); IE < 10
    FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#2857f1, endColorStr=#3d86f2); */
}
.content{
	width:100%;
	height:-webkit-calc(100% - 70px);
	height:-moz-calc(100% - 70px);
	height:calc(100% - 70px);
}
.left-list{
	width:155px;
	height:100%;
	background:#66a4fe;
	float:left;
}
.left-list ul li{
	cursor:pointer;
	width:142px;
	height:45px;
    padding-left: 22px;
	margin-top:22%;
	position: relative;
	font-size:15px;
	color:#fff;
}
@media all and (max-width:1400px){
	.left-list ul li{
		margin-top:16%;
	}
}
.left-list ul li:hover span{
	position: relative;
	top:-15px;
}
.left-list ul li:hover{
	color:#24a3ff !important;
	background:#fff;
	padding-left: 10px;
}
.left-list li img{
	margin:6px 20px 0px 0px;
}
.left-list li:hover img{
	margin:6px 12px 0px 0px;
	pointer-events:none;
}
.menu{
	position:absolute;
	z-index:2;
	width:0px;
	padding:10px 0px;
	line-height: 30px;
	display:none;
	left:150px;
	top:0px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background-color: rgba(28, 120, 254, 0.6);
    box-shadow: 0px 0px 10px 2px #fff;
    cursor:pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.left-list ul li:hover .menu{
	display:block;
	width:130px;
}
.left-list ul li .menu:hover{
	transform: scale(1.1);
    -ms-transform:scale(1.1);     /* IE 9 */
    -moz-transform:scale(1.1);     /* Firefox */
    -webkit-transform:scale(1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1);
}
.left-list ul li .menu p{
   background-color: rgba(255, 255, 255, 0);
   transition: all 0.5s;
   -moz-transition: all 0.5s;
   -webkit-transition: all 0.5s;
}
.left-list ul li .menu p:hover{
	background-color: rgba(255, 255, 255, 0.9);
	width:122px;
	border-radius:3px ;
	margin-left:4px;
	color:#24a3ff;
}
.center-bottom{
	margin:0px;
	height:-webkit-calc(100% - 20px);
	height:-moz-calc(100% - 20px);
	height:calc(100% - 20px);
	width:-webkit-calc(100% - 175px);
	width:-moz-calc(100% - 175px);
	width:calc(100% - 175px);
	float:right;
	position: relative;
}
.ifm_top{
	position:absolute;
	top:10px;
	right:10px;
	height:40px;
	background:#fff;
	border-radius:5px;
	z-index:999;
}
.ifm_top ul li{
	float:left;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#ababab;
	margin-top:6px;
	padding:0px 15px;
	border-right:1px solid #d3edff;
	cursor:pointer;
}
.ifm_top ul li:hover span{
	color:#24a3ff !important;
}
.ifm_top ul li img{
	position: relative;
	top:3px;
}
.ifm_bottom{
    position:absolute;
	bottom:0px;
	right:10px;
	height:40px;
	line-height:40px;
	background:#fff;
	border-radius:5px;
	z-index:999;
}
.ifm_bottom span{
	padding:0px 27px;
	font-size:14px;
	color:#24a3ff;
	cursor:pointer;
	height:40px;
	display:inline-block;
	border-radius:5px;
	position: relative;
	top:-1px;
}
@media all and (max-width:1400px){
	.ifm_bottom span{
		padding:0px 20px;
	}
}
#iframe{
	width:100%;
	height:100%;
	border:none;
	background:#CCC;
}
.ChangeColor{
    background: #85ccff;
	color:#fff !important;
	text-shadow: black 5px 3px 3px;
}
.Change{
    background: #fff;
    color:#24a3ff !important;
    font-size:16px;
    padding-left:10px !important;
}
.Changedistance{
	position: relative;
	top:-15px;
}
.changebg{
	 box-shadow: 0px 0px 7px 1px #c7c7c7;
}
#mapDiv{
	width: 100%;
    height: 100%;
}
.ol-popup {
	position: absolute;
	background-color: #d4eaff;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "x";
}
body, #map {
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-size: 13px;
}

.crud ul{
	padding: 0 10px;
	background-color: #fff7e8;
}
.crud ul li{
	height: 21px;
	line-height: 22px;
	margin-top: 10px;
	cursor: pointer;
}
.crud ul li i{
	width: 21px;
	height: 21px;
	display: block;
	float: left;
	border-radius: 50%;
	margin-right: 7px;
}

.ldbut{
	display: none;
	top: 3%;
	position: absolute;
}

.ldbut li{
	list-style-type: none;
	line-height: 80px;
}
